* {

    margin: 0;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.5);
    font-family: "poppins";
}

body {
    background-image: url(../img/siria_main_fondo.png);
    background-repeat: no-repeat;

}

p {
    font-size: 26px;

}

.linkRedesSociales {
    color: rgb(239, 165, 128);
}

#imgPrincipal {
    width: 100%;
    height: 100%;

}

header {
    background-color: rgb(229, 217, 209);
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 15px;
    border: 2px;

}

main {
    margin: 20px;
    padding: 15px;
    border: 2px;
}

section {
    margin: 20px;
    padding: 15px;
    border: 2px;
}

footer {
    background-color: rgb(229, 217, 209);
    margin: 20px;
    padding: 15px;
    border: 2px;

}

nav ul li a {
    list-style: none;
    text-decoration: none;
}

.linkRedesSociales {
    font-size: 25px;
    text-decoration: none;
}

#videoPrincipal {
    width: 100%;
    height: 100%;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.producto {

    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    box-sizing: border-box;
}

.imgProd {
    width: 80%;
    height: 80%;
}